body {
    margin: 0;
    overflow: hidden;
}
canvas {
    display: block;
}
#speedControl {
    position: absolute;
    left: 45%;
    bottom: 15%;
     z-index: 10;
}
img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
